
.llamar p{

    color: white;
    font-size: 125%;
}

.llamar h2{

    color: yellow;
    font-size: 250%;
}

.body{
    margin: 0;
    padding: 0;
}
.inicio h1{
    font-size: 50px;
    font-family: cursive;
    color: tomato;
}

.lista{
    background: brown;
    margin: 0;
    padding: 14;
}



.adopta h2{

    color: yellow;
    font-size: 250%;
}

.adopta a{
    color: white
}

.contactanos h2{
    color: turquoise;
    font-size: 150%;
}
.contactanos p{
    
    color: white;
}
.final h3{

    color: violet;
    font-size: 150%;
}

.final p{

    color: white;
    size: 100%;
}


.body{
    text-align: center;
}
