@charset "utf-8";
/* CSS Document */
/*Inicio de gatos*/

.titulo {
	color: greenyellow;
	text-align: center;
	font-size: 250%;
}

.container-images-gatosgrandes img{
	height: 100%;
	width: 40%;
	border-radius: 5%;
}

.container-text-titulodescri h2{
	color: greenyellow;
	font-family: 'Courier New', Courier, monospace;
	font-size: 300%;
	text-align: center;
}

.container {
	float: center;
}

.item{
	margin: 1%;
	float: left;
}

#item1{
	color: crimson;
	font-family: 'Courier New', Courier, monospace;
	font-size: 150%;
	text-align: center;
}

.subtitulo-adoptanos{
	font-size: 200%;
	margin: 3%;
	color: greenyellow;
	text-align: center;
}

#gatos img{
	height: 450px;
	width: 450px;
	border-radius: 50%;
	margin: 3%;
	text-align: center; 
}

.imagegatoblanco img{
	height: 450px;
	width: 450px;
	border-radius: 50%;
}

.tabla {
	color: honeydew;
	text-align: center;
	font-size: 150%;
	margin: 2%;
}

.botones img{

	width: 10%;
	height: 10%;
	border-radius: 25%;
}