
.llamar p{

    color: white;
}

.llamar h2{

    color: yellow;
}

.body{
    margin: 0;
    padding: 0;
}
.inicio h1{
    font-size: 50px;
    font-family: cursive;
    color: tomato;
    background: white;
  
}

.lista{
    background: brown;
    margin: 0;
    padding: 14;
}
.menu ul{
    font-size: cursive;
    background: white;
    font: bold 14px verdana;
}

.menu li{
    list-style: none;
    padding: 5px;
}

.adopta h2{

    color: yellow;
}

.adopta a{
    color: white
}

.contactanos h2{
    color: turquoise;
}
.contactanos p{
    
    color: white;
}
.final h3{

    color: violet;
}

.final p{

    color: white;
}

.body{
    text-align: center;
}